@font-face {
 font-family:'Ubuntu-M_0';
 src: url('../fonts/Ubuntu-M_0.eot');
 src: local('☺'), url('../fonts/Ubuntu-M_0.woff') format('woff'),  url('../fonts/Ubuntu-M_0.ttf') format('truetype'),  url('../fonts/Ubuntu-M_0.svg#webfont09a50pYu') format('svg');
 font-weight: normal;
 font-style: normal;
 font-stretch:normal;
}

a[href^="tel:"] {
  color: inherit;
  text-decoration: none;
}
/*------ template stylization ------*/
/* headings, text */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
  font-weight: bold;
  line-height: 1.2em;
}
h1 {
  font-size: 100px;
  font-weight: bold;
  text-transform: uppercase;
  
}
h2 {
  font-size: 40px;
  color: #434343;
  
}
h3 {
  font-size: 28px;
  text-transform: uppercase;
  
}
h4 {
  font-size: 23px;
  text-transform: uppercase;
  
  margin: 46px 0 18px 0;
}
h5 {
  font-size: 18px;
  color: #939393;
  font-weight: 600;
  
}
p {
  margin-bottom: 20px;
}
.lead {
  font-size: 14px;
  line-height: 20px;
  color: #676667;
  margin: 0;
  text-decoration: none;
}
a.lead {
  text-decoration: none;
}
a.lead:hover {
  text-decoration: underline;
}
figure {
  width: 100%;
}
img.img-radius {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.text-info {
  color: #676667;
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 8px;
}
.link {
  color: #ffffff;
  font-size: 12px;
  line-height: 20px;
  font-weight: bold;
  display: inline-block;
  background: url(../img/marker.gif) right 7px no-repeat;
  padding-right: 10px;
  margin-top: 20px;
  text-decoration: none;
}
.link-2 {
  text-decoration: none;
}
.link-2:hover {
  text-decoration: underline;
}
.clr {
  color: #ffffff;
}
.underline {
  text-decoration: underline;
}
a.underline {
  color: #656566;
}
a.underline:hover {
  color: #ffffff;
  text-decoration: underline;
}
.upper {
  text-transform: uppercase;
}
.top-0 {
  margin-top: 0 !important;
}
.bot-0 {
  margin-bottom: 0 !important;
}
.left-0 {
  margin-left: 0 !important;
}
.last {
  margin-right: 0 !important;
}
.indent-1 {
  margin-top: 58px;
}
.indent-2 {
  margin-top: 50px;
}
.indent-3 {
  padding-top: 23px;
}
.p0 {
  padding-bottom: 0px !important;
}
.p1 {
  margin-bottom: 7px !important;
}
.p2 {
  margin-bottom: 9px !important;
}
.p3 {
  margin-bottom: 40px !important;
}
.img-indent {
  margin: 29px 0 28px 0;
}
.extra-wrap {
  overflow: hidden;
}
ul.list,
ul.list-2 {
  margin: 0;
  list-style: none;
}
ul.list li {
  padding: 5px 0 5px 13px;
  background: url(../img/marker.gif) 0 12px no-repeat;
  font-size: 12px;
  line-height: 20px;
}
ul.list li a {
  color: #ffffff;
  text-decoration: underline;
}
ul.list li a:hover {
  text-decoration: none;
}
ul.list-2 li {
  padding: 5px 0 5px 13px;
  background: url(../img/marker.gif) 0 12px no-repeat;
  font-size: 12px;
  line-height: 20px;
}
ul.list-2 li a {
  color: #ffffff;
  text-decoration: none;
}
ul.list-2 li a:hover {
  text-decoration: underline;
}
/**/
/* buttons*/
.btn_ {
  background: #cf3046;
  border: none;
  text-shadow: none;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: bold;
  line-height: 15px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  padding: 7px 13px 8px 13px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  margin-top: 20px;
}
.btn-small_ {
  padding: 8px 18px 8px 18px;
  color: #ffffff;
}
.btn_:hover {
  color: #000;
  background: #ffffff;
}
/**/
/*----------- Back to top --------------*/
#toTop {
  display: none;
  width: 37px;
  height: 37px;
  overflow: hidden;
  background: url(../img/totop.png) 0 0 no-repeat;
  position: fixed;
  margin-right: -640px !important;
  right: 50%;
  bottom: 40px;
  z-index: 999;
}
#toTop:hover {
  background-position: right 0;
}
#toTop:active,
#toTop:focus {
  outline: none;
}

/*------ header ------- */
header {
  padding: 0px 0 41px 0;
  background: #fff;
  position: relative;
  z-index: 999;
}
.header-block {
  background: #fff;
  
  position: relative;
  z-index: 999;
}
.header-block-pad {
  padding: /*53px 31px 46px 52px;*/ 0;
}
.header-top{background:#24D7E7; min-height:28px; width:100%;}
h1.brand {
  display: inline-block;
  margin: 0px;
  padding: 0;
  text-transform: none;
}

@media (max-width: 580px) {h1.brand img {max-width:60%; display:block; }}

h1.brand a {
  vertical-align:middle; display:inline-block;
  font-size: 0;
  line-height: 0px;
}
h1.brand span {
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 15px;
  color: #737373;
  font-weight: normal;
  margin: -1px 0 0 2px;
  letter-spacing: 0;
}
.contacts {
  float: right;
  display: inline-block;
  margin: 7px 0px 0 0px;
  padding: 6px 0px 10px 0;
  color: #ffffff;
  line-height: 22px;
  
}
.contacts span,
.contacts a {
  color: #747474;
  text-decoration: none;
}
.contacts a:hover {
  color: #fff;
}
/* search-form */.navbar-form {
  background: url(../img/form-search.jpg) 0 0 repeat-x #1c1c1c;
  border-bottom: #515152 1px solid;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin: 19px 0px 0 0;
  float: right;
}
.navbar-form input {
  background: none;
  border: none;
  box-shadow: none;
  line-height: 18px;
  width: 288px;
  float: left;
  margin: 0px;
  padding-top: 6px;
  padding-bottom: 5px;
}
.navbar-form input:focus {
  box-shadow: none;
}
.navbar-form a {
  margin: 0;
  display: inline-block;
  width: 40px;
  height: 33px;
  background: url(../img/search.png) 0 0 no-repeat;
  float: right;
}
.navbar-form a:hover {
  background: url(../img/search.png) right 0 no-repeat;
}
/**/
/* navbar */
.navbar_ {
  margin: 0px 0 0 0; width:100%;
}
.navbar-left{  background:url(../images/menu-left.png) no-repeat; min-height:52px; width:2%; float:left; }
@media (max-width: 900px) {
	.navbar-left{ background: none;}
	
  
}
@media (max-width: 1100px) {.navbar_ .navbar-inner_{ min-width:91% !important;}}
.navbar_ .navbar-inner_ {
  /*padding: 18px 0px 0px 45px;*/
  margin: 0;
  background:#161615;
  border-top:6px solid #393837; border-bottom:6px solid #393837; border-right:6px solid #393837; border-radius:0 5px 5px 0px;
  
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false); min-width:1099px; float: left;
}
/*nav*/
.navbar_ .container {
  position: relative;
}
.nav-collapse_ {
  float: left;
  padding-top: 8px;
}
.nav-collapse_ .nav li {
  margin: 0;
  padding: 0;
  position: relative;
  zoom: 1;
}
.nav-collapse_ .nav > li {
  background: url(../img/line-1.png) 0 0 repeat-y;
  padding: 0 33px 0 33px;
  line-height: 17px;
}
.nav-collapse_ .nav > li > a > em {
  display: inline-block;
  width: 19px;
  height: 15px;
  background: url(../images/home.png) 0 0 no-repeat;
}
.nav-collapse_ .nav > li.li-first {
  background: none;
  padding-left: 0;
}
.nav-collapse_ .nav li a {
  line-height: 19px;
  color: #ffffff;
  text-transform: uppercase;
  text-shadow: none;
  text-decoration: none;
}
.nav-collapse_ .nav > li > a {
  font-family: "Open Sans", sans-serif;
  font-weight: bold; font-size:14px;
  margin: 0;
  padding: 0;
}
.nav-collapse_ .nav > li.li-first.sfHover a > em,
.nav-collapse_ .nav > li.li-first:hover a > em,
.nav-collapse_ .nav > li.li-first.active a > em,
.nav-collapse_ .nav > li.li-first.active a > em {
  background-position: right 0;
}
.nav-collapse_ .nav > li.sfHover > a,
.nav-collapse_ .nav > li.sfHover > a:hover,
.nav-collapse_ .nav > li > a:hover,
.nav-collapse_ .nav > li.active > a,
.nav-collapse_ .nav > li.active > a:hover {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: #f26c3d;
  background: none;
}
.sub-menu > a {
  position: relative;
}
.nav-collapse_ .nav > li.sub-menu > a:before {
  content: " ";
  position: absolute;
  background: url('../img/li-marker.png') left top no-repeat;
  width: 7px;
  height: 5px;
  right: 50%;
  top: 50%;
  margin: 10px -3px 0 0;
}
.nav-collapse_ .nav ul {
  position: absolute;
  display: none;
  width: 158px;
  left: 0px;
  top: 42px;
  list-style: none;
  zoom: 1;
  z-index: 9;
  background: #111111;
  padding: 20px 0 24px 0;
  margin: 0;
}
.nav-collapse_ .nav > li li.sub-menu > a:before {
  content: " ";
  position: absolute;
  background: url('../img/li-marker.png') left top no-repeat;
  width: 7px;
  height: 5px;
  right: 10px;
  top: 10px;
}
.nav-collapse_ .nav ul li a {
  display: block;
  text-transform: uppercase;
  font-size: 11px;
  line-height: 15px;
  padding: 7px 10px 8px 24px;
  background: none;
}
.nav-collapse_ .nav > li > ul li > a:hover,
.nav-collapse_ .nav > li > ul li.sfHover > a {
  text-decoration: none;
  background: #fff;
  color: #000;
}
.nav-collapse_ .nav ul ul {
  position: absolute;
  display: none;
  width: 158px;
  left: 158px;
  top: -20px;
  height: auto;
  list-style: none;
  z-index: 111;
  background: #111111;
  padding: 20px 0 24px 0;
  margin: 0;
}
/**/
/*social-icons*/
.social-icons {
  float: right;
  display: inline-block;
  margin: 0px 34px 0 0px;
}
.social-icons li {
  float: left;
  display: inline-block;
  margin-left: 3px;
}
.social-icons li a {
  display: block;
}
.social-icons li a:hover img {
  opacity: 0.7;
  filter: alpha(opacity=70);
}
/**/
/* slider */
.slider {
  position: relative;
  z-index: 1;
  padding: 0;
  margin-top: 0px;
}
.camera_wrap {
  margin-bottom: 0 !important;
}
.camera_thumb {
  width: 150px;
  height: auto;
}
.camera_wrap .camera_pag {
  position: absolute;
  bottom: 40px;
  left: 50%;
  margin-left: -465px;
  z-index: 999;
}
.camera_wrap .camera_pag .camera_pag_ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
.camera_wrap .camera_pag .camera_pag_ul li > span {
  display: none;
}
.camera_wrap .camera_pag .camera_pag_ul li {
  background: #b2b2b2;
  width: 16px;
  height: 16px;
  display: block;
  float: left;
  margin-right: 6px;
  cursor: pointer;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}
.camera_wrap .camera_pag .camera_pag_ul li:hover {
  background: #373737;
}
.camera_wrap .camera_pag .camera_pag_ul li.cameracurrent {
  background: #373737;
  cursor: default;
}
.camera_caption {
  display: none;
}
/*--- header end ------*/
/*------ content ------- */
#content {
  background: #fff;
}
.main-content {
  padding-bottom: 20px;
}
.sub-content {
  background: url(../img/sub-content.jpg) 0 0 repeat-x;
  padding-bottom: 46px;
}
/* thumbnails */
.thumbnails {
  margin-bottom: 0;
}
.thumbnails::before{ clear:left;}
.thumbnails li {
  margin-bottom: 0px; margin-left:20px;
}
.thumbnails .thumbnail {
  background: #fff;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: 0 0 4px #333;
  border: 10px solid #fff;
  margin: 28px 0 0 0;
  padding: 0;
}
.thumbnails .thumbnail .caption {
  padding: 10px 0px 10px 0px;
  background: #00AEEF;
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-topright: 6px;
  border-top-right-radius: 6px;
  -webkit-border-top-left-radius: 6px;
  -moz-border-radius-topleft: 6px;
  border-top-left-radius: 6px;
  overflow: hidden;
}
.thumbnails .thumbnail h3 {
  color: #ffffff; text-align:center;
  font: normal 19px Ubuntu-M_0 !important;
  margin: 4px 0 0 0;
}
.thumbnails .thumbnail:hover .caption {
  background:#1095c7;
}
.thumbnails .thumbnail img {
  margin:auto; width:28px; height:24px; display:block;
  
}
.thumbnails .thumbnail h5 {
  margin: 0;
}
.thumbnails .thumbnail:hover h5 {
  color: #e397a1;
}
.thumbnails .thumbnail .thumbnail-pad {
	
  /*padding: 25px 20px 30px 21px; */ 
}
.thumbnails .thumbnail .thumbnail-pad p{padding:5px;}
.thumbnails .thumbnail .thumbnail-pad img{width:100%; height:100%; }
.thumbnails .thumbnail .thumbnail-pad p.count{ font: italic 14px Ubuntu-M_0 !important; color:#f82c00; padding:5px; margin:0;}
ul.thumbnails li.span3{ width:205px !important; max-width:100%;}
ul.thumbnails li:nth-child(5){ clear: left;}
@media (max-width: 1024px) {
	ul.thumbnails li.span3{ width:100% !important;}
  
}
.thumbnails .thumbnail a.btn_ {
  margin-top: 3px;
  background: #171619;
}
.thumbnails .thumbnail a.btn_:hover {
  background: #cf3046;
  color: #ffffff;
}
.thumbnails .thumbnail_1 a.btn_ {
  margin-top: 3px;
  background: #cf3046;
  color: #ffffff;
}
.thumbnails .thumbnail_1 a.btn_:hover {
  background: #171619;
}
/**/
/* thumbnails_2 */
.thumbnails_2 {
  margin: 0px 0 0 -25px;
  padding-top: 8px;
}
.thumbnails_2 li.thumbnail_2 {
  margin: 0px 0px 24px 25px;
  padding: 0;
  display: block;
  float: left;
  width: 137px;
}
.thumbnails_2 .thumbnail_2 figure {
  margin: 0px 0 16px 0;
}
.thumbnails_2 li.thumbnail_2 .text-info {
  color: #ffffff;
}
/**/
/*lists*/
.lists {
  overflow: hidden; 
}
ul.lists li{list-style:none;}
.lists ul {
  margin-top: 15px;
}
.lists-width2 {
  overflow: hidden;
  margin-left: -15px;
}
.lists-width2 ul {
  margin-left: 15px;
  margin-top: 33px;
  width: 140px;
  float: left;
}
/**/
/*banners*/
.banners {
  margin: 0 0 0px -30px;
  overflow: hidden;
}
.banners li {
  margin-left: 30px;
  float: left;
  display: inline-block;
  margin-top: 18px;
}
/**/
/* thumbnail_3 */
.thumbnails_3 {
  margin: 0px 0 0 0px;
}
.thumbnails_3 .thumbnail_3 {
  margin: 27px 0 0px 0px;
}
.thumbnails_3 .thumbnail_3 {
  background: transparent;
  border: none;
  padding: 0;
  display: block;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.thumbnails_3 .thumbnail_3 figure {
  margin: 0px 0 15px 0;
}
.thumbnails_3 .thumbnail_3 figure img {
  width: 100%;
}
/**/
/* thumbnail_4 */
.thumbnails_4 {
  margin: 0px 0 0 0px;
}
.thumbnails_4 .thumbnail_4 {
  margin: 27px 0 10px 0px;
}
.thumbnails_4 .thumbnail_4 {
  background: none;
  border: none;
  padding: 0;
  display: block;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.thumbnails_4 .thumbnail_4 figure {
  margin: 0px 0 15px 0;
}
.thumbnails_4 .thumbnail_4 figure img {
  width: 100%;
}
/**/
/*list-news*/
.list-news {
  margin: 0 0 0 0;
  padding-top: 6px;
}
.list-news li {
  display: block;
  margin-top: 30px;
}
.list-news li:first-child {
  margin-top: 0 !important; clear:left;
}
.list-news li .text-info {
  margin-top: 15px;
}
.list-news li a.btn_ {
  margin-top: 0;
}
/**/
/*list-services*/
.list-services {
  margin: 0 0 0 -40px;
}
.list-services li {
  display: block;
  float: left;
  overflow: hidden;
  margin-top: 20px;
  width: 330px;
  margin-left: 40px;
  min-height: 180px;
}
.list-services li > div {
  overflow: hidden;
}
.list-services li img {
  float: left;
  margin-top: 0px;
}
/**/
.text-block-1 {
  padding-top: 7px;
}
.text-block-1 div {
  overflow: hidden;
  padding-bottom: 5px;
}
.text-block-1 img {
  float: left;
  margin-right: 20px;
  width: auto;
}
/*-- contacts page --*/
.map {
  padding: 7px 0 9px 0;
}
.map iframe {
  width: 100%;
  height: 353px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: none;
}
address strong {
  font-weight: normal;
}
address span {
  display: inline-block;
  width: 70px;
}
.contact-form {
  padding-top: 11px;
}
.contact-form input {
  color: #c4c3c4;
  height: 36px;
  width: 270px;
  padding: 10px 0 11px 18px;
  line-height: 17px !important;
  margin: 0;
  border: none !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  box-shadow: none;
  float: left;
  background: url(../img/form-bg.png) 0 0 repeat;
}
.contact-form label {
  min-height: 56px;
  position: relative;
  overflow: hidden;
  margin: 0;
  display: block;
  width: 100%;
}
.contact-form .error,
.contact-form .empty {
  display: none;
  position: relative;
  font-size: 11px;
  line-height: 14px;
  color: #c4c3c4;
  float: left;
  margin: 2px 0 4px 10px;
  min-width: 160px;
}
.contact-form .success {
  display: none;
  padding-bottom: 5px;
}
.contact-form textarea {
  width: 100%;
  height: 246px;
  padding: 9px 0 0 18px;
  margin: 0;
  resize: none;
  color: #939393;
  border: none !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  box-shadow: none;
  float: left;
  background: url(../img/form-bg.png) 0 0 repeat;
}
.contact-form input:focus,
.contact-form textarea:focus {
  box-shadow: none;
}
.contact-form .btn_ {
  margin: 31px 0 0 16px;
}
/*privacy*/
.float {
  float: left;
}
.float2 {
  float: right;
}
/**/
/*404 page*/
.block-404 .span8 {
  padding-top: 64px;
  text-align: center;
}
.block-404 .span4 {
  padding-top: 37px;
}
.block-404 h1 {
  margin: 0px;
  font-size: 60px;
}
.block-404 h4 {
  margin: 28px 0 39px 0;
}
.form-404 {
  width: 100%;
  margin-top: 35px;
}
.form-404 input {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-border-top-right-radius: 0px;
  -moz-border-radius-topright: 0px;
  border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  -moz-border-radius-bottomright: 0px;
  border-bottom-right-radius: 0px;
  border: none;
  background: #fff;
  margin: 0;
  box-shadow: none;
  height: 30px;
  width: 175px;
  line-height: 17px;
  padding: 7px 10px 8px 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #656566;
  float: left;
}
.form-404 input:focus {
  box-shadow: none;
}
.form-404 a.btn_ {
  margin: 0;
  width: 91px;
  text-align: center;
  padding: 7px 0 8px 0;
  -webkit-border-top-left-radius: 0px;
  -moz-border-radius-topleft: 0px;
  border-top-left-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -moz-border-radius-bottomleft: 0px;
  border-bottom-left-radius: 0px;
}
.form-404 a.btn_:hover {
  color: #ffffff;
  background: #171619;
}
/**/
/*-- end contacts --*/
/*--- content end ------*/
/*------ footer ------- */
footer {
  padding: 26px 0 0px 0; border-top:2px solid #E84C4C; border-bottom:1px solid #E84C4C;
  background: #23D7E7;
  color: #000;
}
footer .span8 > a {
  text-decoration: underline;
  color: #cf3046;
}
footer .span8 > a:hover {
  text-decoration: underline;
  color: #ffffff;
}
.footer-menu {
  display: block; 
  
  padding: 12px 0 15px 0;
  margin: 0 0 27px 0;
}
.footer-menu li {
  display: block; clear:left;
  
  color: #000;
  font-size: 12px;
  line-height: 20px;
}
.footer-menu li a {
  margin: 0 0px;
  color: #000; line-height:19px;
  
  text-decoration: none;
}
.footer-menu li dd{font: italic 11px Arial; color:#333;}
.footer-menu li img{ border: none; background:none;}
.footer-menu li:first-child a {
  margin-left: 0;
}
.footer-menu li a:hover,
.footer-menu li a.current {
  text-decoration: none;
}
ul.footer-menu1 {list-style:none; clear:left; margin-left:0;}
ul.footer-menu1 li{ float:left; list-style: none; margin-right:5px;}
/* form newsletter */
form#newsletter {
  margin: 0;
  background: url(../img/newsletter-bg.png) 0 0 repeat;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 25px 27px 28px 28px;
}
form#newsletter input {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-border-top-right-radius: 0px;
  -moz-border-radius-topright: 0px;
  border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  -moz-border-radius-bottomright: 0px;
  border-bottom-right-radius: 0px;
  border: none;
  background: #fff;
  color: #1e1d20;
  margin: 0;
  box-shadow: none;
  height: 30px;
  line-height: 15px;
  padding: 7px 10px 8px 10px;
  width: 154px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
}
form#newsletter input:focus {
  box-shadow: none;
}
form#newsletter a.btn_ {
  margin-top: 0;
  width: 91px;
  text-align: center;
  padding-right: 0;
  padding-left: 0;
  -webkit-border-top-left-radius: 0px;
  -moz-border-radius-topleft: 0px;
  border-top-left-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -moz-border-radius-bottomleft: 0px;
  border-bottom-left-radius: 0px;
}
form#newsletter a.btn_:hover {
  color: #ffffff;
  background: #171619;
}
form#newsletter label {
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
  font-weight: bold;
  line-height: 22px;
  font-size: 18px;
  margin-bottom: 16px;
  display: block;
  text-transform: none;
}
/**/
/*--- footer end ------*/
/*----- media queries ------*/
@media (min-width: 1200px) {
  .camera_wrap .camera_pag {
    bottom: 48px;
  }
  .camera_wrap .camera_pag .camera_pag_ul li {
    width: 10px;
    height: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }
  .camera_wrap .camera_pag {
    margin-left: -580px;
  }
  .thumbnails .thumbnail h3 {
    font-size: 28px;
  }
  form#newsletter input {
    width: 224px;
  }
  .lists-width2 {
    margin-left: -30px;
  }
  .lists-width2 ul {
    margin-left: 30px;
    width: 170px;
  }
  .thumbnails_2 {
    margin: 0px 0 0 -30px;
  }
  .thumbnails_2 li.thumbnail_2 {
    margin: 0px 0px 24px 30px;
    width: 170px;
  }
  .list-services {
    margin: 0 0 0 -130px;
  }
  .list-services li {
    width: 370px;
    margin-left: 130px;
    min-height: inherit;
  }
  .form-404 input {
    width: 223px;
  }
}
@media (max-width: 1199px) {
  
}
@media (min-width: 980px) and (max-width: 1199px) {
  
}
@media (min-width: 979px) {
  
}
@media (max-width: 979px) {
  .slider {
    height: auto;
  }
  .thumbnails .thumbnail .caption {
    padding: 17px 0px 13px 21px;
  }
  .thumbnails .thumbnail .thumbnail-pad {
    padding: 15px 20px 15px 21px;
  }
  .thumbnails .thumbnail h3 {
    font-size: 28px;
  }
  form#newsletter {
    margin-bottom: 20px;
    padding: 15px 27px 15px 28px;
  }
  form#newsletter input {
    width: 100%;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topright: 3px;
    border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    border-bottom-right-radius: 3px;
  }
  form#newsletter a.btn_ {
    margin-top: 15px;
    float: right;
    -webkit-border-top-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
    border-top-left-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-bottom-left-radius: 3px;
  }
  /**/
  .thumbnails_2 {
    margin: 0px 0 0 -30px;
  }
  .list-services li {
    min-height: inherit;
    width: inherit;
  }
  .cols-1 .span4 img {
    width: inherit !important;
  }
  .thumbnails_2 li.thumbnail_2 img {
    width: 100%;
  }
  .text-block-1 img {
    float: none;
    margin-right: 0px;
    margin-bottom: 20px;
    width: 100% !important;
  }
  .form-404 input {
    width: 100%;
    float: none;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topright: 3px;
    border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    border-bottom-right-radius: 3px;
  }
  .form-404 a.btn_ {
    float: right;
    margin-top: 20px;
    -webkit-border-top-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
    border-top-left-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-bottom-left-radius: 3px;
  }
  .footer-menu li a {
    margin: 0 6px;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  .navbar-form input {
    width: 120px;
  }
  .contacts {
    margin-right: 20px;
    padding-right: 20px;
  }
  /* navbar */
  .navbar-inner_ .btn-navbar {
    display: none;
  }
  .navbar-inner_ .nav-collapse {
    overflow: visible;
    height: auto;
  }
  .navbar-inner_ .nav-collapse_ .nav > li {
    padding: 0 10px 0 10px;
    float: left;
  }
  .nav-collapse_ .nav > li.li-first {
    background: none;
    padding: 0 18px 0 0px;
  }
  .nav-collapse_ .nav > li > a {
    margin-bottom: 0;
  }
  /**/
  .cols-1 div + div {
    margin-left: 0 !important;
  }
  .cols-1 .span4 {
    width: 100% !important;
  }
  /* */
  .thumbnails .span3 {
    width: 352px;
  }
  .thumbnails .thumbnail p {
    min-height: 60px;
  }
  .thumbnails_2 li.thumbnail_2 {
    margin: 0px 0px 24px 30px;
    float: none;
    width: 228px;
  }
  /**/
  .lists .lists-width2 {
    width: 200px;
  }
  .lists-width2 {
    margin-left: -30px;
  }
  .lists-width2 ul {
    margin-left: 30px;
    width: 40%;
  }
  .thumbnails_4 .span3 {
    width: 352px;
  }
  .camera_wrap .camera_pag {
    margin-left: -350px;
  }
}
@media (max-width: 767px) {
  body {
    padding: 0;
    margin: 0;
  }
  .container {
    padding: 0 20px;
  }
  .header-block-pad {
    padding: 18px 23px 14px 22px;
  }
  .contacts {
    padding-right: 0;
    margin-right: 0;
    margin-left: 40px;
    background: none;
  }
  .navbar-form input {
    width: 200px;
  }
  .navbar-form {
    margin-left: 20px;
  }
  .social-icons {
    margin: 5px 24px 0 0;
  }
  /* navbar */
  .navbar_ .navbar-inner_ {
    padding: 13px 0 10px 22px;
  }
  .navbar_ .nav-collapse_ {
    width: 100%;
    position: absolute;
    left: 0;
    top: 46px;
  }
  .navbar_ .btn {
    display: inline-block;
    float: left;
    background: #ffffff;
    padding: 12px 20px 12px 20px;
    font-family: "Open Sans", sans-serif;
    text-decoration: none;
    margin: 0;
    text-shadow: none;
    color: #000;
    box-shadow: none;
    border: none;
  }
  .navbar_ .btn:hover {
    background-color: #cf3046;
    color: #ffffff;
  }
  .nav-collapse_ .nav {
    position: relative;
    zoom: 1;
    z-index: 999;
    width: 168px;
    background: #111;
    padding: 20px 0 24px 0;
    margin: 0;
  }
  .nav-collapse_ .nav li {
    line-height: 15px;
    background: none;
    margin: 0;
    padding: 0;
    display: block;
  }
  .nav-collapse_ .nav li a {
    font-size: 11px;
    line-height: 15px;
    color: #ffffff;
    font-weight: normal;
    text-shadow: none;
    text-transform: uppercase;
    margin: 0;
    display: block;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    position: relative;
  }
  .nav-collapse_ .nav > li > a,
  .nav-collapse_ .nav > li.li-first a {
    padding: 7px 10px 8px 28px;
  }
  .nav-collapse_ .nav > li.sfHover,
  .nav-collapse_ .nav > li:hover,
  .nav-collapse_ .nav > li.active,
  .nav-collapse_ .nav > li.active {
    background: none;
  }
  .nav-collapse_ .nav > li.sfHover > a,
  .nav-collapse_ .nav > li.sfHover > a:hover,
  .nav-collapse_ .nav > li > a:hover,
  .nav-collapse_ .nav > li.active > a,
  .nav-collapse_ .nav > li.active > a:hover {
    background: #fff;
    color: #000;
  }
  .sub-menu > a {
    position: relative;
    display: block;
  }
  .nav-collapse_ .nav > li.sub-menu > a:before,
  .nav-collapse_ .nav > li li.sub-menu > a:before {
    content: "";
    position: absolute;
    background: url(../img/li-marker.png) left top no-repeat;
    width: 7px;
    height: 5px;
    right: 10px ;
    top: 50%;
    margin-top: -3px;
  }
  .nav-collapse_ .nav ul,
  .nav-collapse_ .nav ul ul {
    position: relative;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    list-style: none;
    zoom: 1;
    z-index: 9;
    padding: 0px;
    margin: 0;
    background: transparent;
  }
  .nav-collapse_ .nav ul li a {
    display: block;
    text-transform: uppercase;
    font-size: 11px;
    line-height: 15px;
    padding: 7px 10px 8px 35px;
    display: block;
  }
  .nav-collapse_ .nav ul li > a:hover,
  .nav-collapse_ .nav ul li.sfHover > a {
    background: #a9a9a9;
  }
  .nav-collapse_ .nav ul ul li a {
    padding: 7px 10px 8px 40px;
    text-transform: none;
  }
  /**/
  /*slider*/
  .camera_wrap .camera_pag {
    margin-left: 0;
    left: 8%;
  }
  .slider {
    padding-top: 68px;
    background: none;
  }
  /**/
  .lists-width2 {
    margin-left: -30px;
  }
  /**/
  .footer-menu {
    display: none;
  }
  .float {
    float: right !important;
  }
  .float2 {
    float: left !important;
  }
  /**/
}
@media (min-width: 626px) and (max-width: 767px) {
  .lists-width2 ul {
    margin-left: 30px;
    width: 45%;
  }
  .thumbnails_2 li.thumbnail_2 {
    margin: 0px 0px 24px 30px;
    float: left;
    width: 45%;
  }
  .thumbnails_4 {
    margin-left: -25px;
  }
  .thumbnails_4 .span3 {
    float: left;
    margin-left: 25px;
    width: 45%;
  }
}
@media (max-width: 625px) {
  .navbar-form {
    margin-left: 0;
    float: none;
  }
  .contacts {
    display: none;
  }
  /* contact-form */
  .contact-form input {
    width: 100%;
  }
  .thumbnails_2 li.thumbnail_2 {
    margin: 0px 0px 24px 30px;
    float: none;
    width: auto;
  }
}
/**/
@media (min-width: 482px) and (max-width: 625px) {
  .lists-width2 ul {
    margin-left: 30px;
    width: 40%;
  }
  .thumbnails_2 li.thumbnail_2 {
    margin: 0px 0px 24px 30px;
    float: left;
    width: 42%;
  }
  .thumbnails_4 {
    margin-left: -25px;
  }
  .thumbnails_4 .span3 {
    float: left;
    margin-left: 25px;
    width: 43%;
  }
}
@media (max-width: 481px) {
  .banners li {
    display: block;
    float: none;
  }
  .banners li a {
    display: block;
    text-align: center;
  }
}
@media (min-width: 320px) and (max-width: 481px) {
  .lists-width2 ul {
    margin-left: 30px;
    width: 40%;
    float: left;
  }
}
@media (max-width: 320px) {
  .navbar-form input {
    width: 161px !important;
  }
  .lists-width2 ul {
    margin-left: 30px;
    float: none;
    width: 100%;
  }
  .list-services li img {
    float: none  !important;
    margin-bottom: 10px;
  }
  .slider {
    margin-left: -20px !important;
  }
  .camera_pag {
    left: 40px !important;
  }
}
/*Core variables and mixins*/
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.advertise-box {
  border-style: solid;
  border-width: 3px;
  border-color: /*rgb( 40, 182, 195 )*/ #fff; box-shadow: 0 0 2px rgb( 40, 182, 195 );
  border-radius: 5px;
  /*background-color: rgb( 238, 238, 238 );*/ background:url(../images/adver-bg.jpg) repeat;
  
  width: 337px;
  height: 115px;
  
}

.advertise-box-side {
  border-style: solid;
  border-width: 3px;
  border-color: /*rgb( 40, 182, 195 )*/ #fff; box-shadow: 0 0 2px rgb( 40, 182, 195 );
  border-radius: 5px;
  /*background-color: rgb( 238, 238, 238 );*/ background:url(../images/adver-bg.jpg) repeat;
  
  width: 248px;
  height: 267px;
  
}

.advertise-box-side1 {
  border-style: solid;
  border-width: 3px;
  border-color: #fff; box-shadow: 0 0 2px rgb( 40, 182, 195 );
  border-radius: 5px;
  background:url(../images/adver-bg.jpg) repeat;
  
  width: 248px;
  height: 245px;
  
}

.advertise-box, .advertise-box-side, .advertise-box-side1 { font: italic 18px Ubuntu-M_0; color:#000; text-align:center; line-height:111px; margin-left:10px; display:block; }
.advertise-box-side, .advertise-box-side1 {line-height: normal; }
.advertise-box p, .advertise-box-side p, .advertise-box-side1 p{vertical-align:middle; display: inline-block; float:none; margin-bottom:0 !important;}
.advertise-box p, .advertise-box-side p br{line-height:none !important;}
.advertise-box:first-child{margin-left:0;}
.advertise-box-side p, .advertise-box-side1 p{ padding-top:40%;}

.INNER {
  background-image: -moz-linear-gradient( 90deg, rgb(0,0,0) 0%, rgb(255,255,255) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(0,0,0) 0%, rgb(255,255,255) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(0,0,0) 0%, rgb(255,255,255) 100%);

}

.scroll-news {
  border-style: solid;
  border-width: 1px;
  border-color: rgba( 0, 0, 0, .2 );
  background-image: -moz-linear-gradient( 90deg, rgba(255,255,255,0) 0%, rgb(255,255,255) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgba(255,255,255,0) 0%, rgb(255,255,255) 100%);
  background-image: -ms-linear-gradient( 90deg, rgba(255,255,255,0) 0%, rgb(255,255,255) 100%);
  
  
  width: 100%;
  height: 41px;
 
}
.scroll-news p{font:normal 14px Ubuntu-M_0; color:#fc510a; text-transform:uppercase; padding:10px;}

form.search_form {
	padding: 1em; padding-bottom:10px !important;
  background: rgba(0, 0, 0, .5);
  border-radius: .4em;
}
form.search_form li,input[type="submit"],input[type="text"],.sixth-login input[type="submit"],.third-login input[type="submit"]{
	transition: 0.1s all;
	-webkit-transition: 0.1s all;
	-moz-transition: 0.1s all;
	-o-transition: 0.1s all;
}
.login-form {
  width: 70%;

  margin: 0 auto;
  
    position: absolute; top:30%; left:10%; z-index:100;
}
form.search_form  li{
	list-style: none;
	margin-bottom: 0px;
	width: 100%;
	background: #b73338;
	border-radius: 0.3em;
	-webkit-border-radius: 0.3em;
	-o-border-radius: 0.3em;
	-moz-border-radius: 0.3em;
}
form.search_form input{margin-bottom:0;}
form.search_form input[type="text"] {
 
  width: 26%;
  padding: .5em 1em .5em 1em;
  color: #3D3E6A;
  font-size: 14px;
  outline: none;
  background: #f5f6f7;

  font-weight: 100;
  
 	
border-style: solid;
  border-width: 5px;
  border-color: rgb( 109, 207, 246 );
  border-radius: 30px;
  background-color: rgb( 255, 255, 255 );
  

}
form.search_form input[type="password"]{
 width: 20%;
  padding: .5em 1em .5em 1em;
  color: #3D3E6A;
  font-size: 14px;
  outline: none;
  background: #f5f6f7;

  font-weight: 100;
  margin-bottom: 1em;
 	
border-style: solid;
  border-width: 5px;
  border-color: rgb( 109, 207, 246 );
  border-radius: 30px;
  background-color: rgb( 255, 255, 255 );
}
form.search_form input[type="submit"] {
	
	padding: .8em .6em .8em .6em;
	outline: none;
	border: none;
	font-size: 1em;
	cursor: pointer;
	color: #000;
	text-transform: uppercase;
	font-weight: bold;
    border-radius: 20px;
  background-image: -moz-linear-gradient( 90deg, rgb(207,207,207) 0%, rgb(255,255,255) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(207,207,207) 0%, rgb(255,255,255) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(207,207,207) 0%, rgb(255,255,255) 100%) ; background-image:url(../images/zoom.png); background-repeat:no-repeat; background-position:center center;
  width: 67px;
  height: 40px;
 
}


form.search_form input[type="submit"]:hover {
	
	color: #fff; background-image:url(../images/zoomwhite.png);
}
.login-form p {
	padding-bottom: 2em;
	color: #fff;
	font-weight: 100;
	font-size: 1.2em;
}
.login-form p a {
	text-decoration: underline;
	font-weight: 600;
	margin-left: 7px;
	color:#fff;
}
.login-form p a:hover {
  color: #1B2E68;
}





.login-form_inner {
  width: 100%; background:rgba(0, 174, 239, .2);

  margin:5px 0 0 0; display:block; clear:left; padding:0;
  
    
}

.login-form_inner p {
	padding-bottom: 1em;
	color: #fff;
	font-weight: 100;
	font-size: 1.2em;
}
.login-form_inner p a {
	text-decoration: underline;
	font-weight: 600;
	margin-left: 7px;
	color:#fff;
}
.login-form_inner p a:hover {
  color: #1B2E68;
}
.login-form_inner form.search_form {
	padding: 10px; background:none; margin:0;
	
 }
  

.top25{ margin-top:25px;}
.bottom20{ margin-bottom:20px;}
.bottom10{ margin-bottom:10px;}
.top10{ margin-top:10px;}
.right10{margin-right:10px;}
.right20{margin-right:20px;}
.top20{margin-top:20px;}
.toppad10{ padding-top:10px;}
.leftpad10{ padding-left:10px;}

nav[role="navigation"] {
  text-align: center;
}

.cd-pagination {
  width: 90%;
  max-width: 768px; margin-top:10px;
  margin: auto;
  text-align: center; padding:0;
}
.cd-pagination li {
  /* hide numbers on small devices */
  display: none;
  margin: 0;
}
.cd-pagination li.button {
  /* make sure prev next buttons are visible */
  display: inline-block;
}
.cd-pagination a, .cd-pagination span {
  display: inline-block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* use padding and font-size to change buttons size */
  padding: .6em .8em;
  font-size: 14px;
}
.cd-pagination a {
  border: 1px solid #e6e6e6;
  border-radius: 0.25em; color:#000;
}
.no-touch .cd-pagination a:hover {
  background-color: #f2f2f2;
}
.cd-pagination a:active {
  /* click effect */
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
  transform: scale(0.9);
}
.cd-pagination a.disabled {
  /* button disabled */
  color: rgba(46, 64, 87, 0.4);
  pointer-events: none;
}
.cd-pagination a.disabled::before, .cd-pagination a.disabled::after {
  opacity: .4;
}
.cd-pagination .button:first-of-type a::before {
  content: '\00ab  ';
}
.cd-pagination .button:last-of-type a::after {
  content: ' \00bb';
}
.cd-pagination .current {
  /* selected number */
  background-color: #F26C3D;
  border-color: #64a281;
  color: #ffffff;
  pointer-events: none;
}
@media only screen and (min-width: 768px) {
  .cd-pagination li {
    display: inline-block;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-pagination { margin-top:20px;
    
  }
}

/* -------------------------------- 

No space - remove distance between list items

-------------------------------- */
.cd-pagination.no-space {
  width: auto;
  max-width: none;
  display: inline-block;
  border-radius: 28px;
  border: 1px solid #00AEEF;
}
.cd-pagination.no-space:after {
  content: "";
  display: table;
  clear: both;
}
.cd-pagination.no-space li {
  margin: 0;
  float: left;
  border-right: 1px solid #e6e6e6;
}
.cd-pagination.no-space li:last-of-type {
  border-right: none;
}
.cd-pagination.no-space a, .cd-pagination.no-space span {
  float: left;
  border-radius: 0;
  
  border: none;
}
.cd-pagination.no-space li:first-of-type a {
  border-radius:28px 0 0px 28px;
}
.cd-pagination.no-space li:last-of-type a {
  border-radius: 0px 28px 28px 0;
}

/* -------------------------------- 

move buttons - move prev and next buttons to the sides

-------------------------------- */
.cd-pagination.move-buttons:after {
  content: "";
  display: table;
  clear: both;
}
.cd-pagination.move-buttons .button:first-of-type {
  float: left;
}
.cd-pagination.move-buttons .button:last-of-type {
  float: right;
}

.cd-pagination.no-space.move-buttons {
  width: 90%;
  max-width: 768px;
  display: block;
  overflow: hidden;
}
.cd-pagination.no-space.move-buttons li {
  float: none;
  border: none;
}
.cd-pagination.no-space.move-buttons a, .cd-pagination.no-space.move-buttons span {
  float: none;
}

/* -------------------------------- 

custom icons - customize the small arrow inside the next and prev buttons 

-------------------------------- */
.cd-pagination.custom-icons .button a {
  position: relative;
}
.cd-pagination.custom-icons .button:first-of-type a {
  padding-left: 2.4em;
}
.cd-pagination.custom-icons .button:last-of-type a {
  padding-right: 2.4em;
}
.cd-pagination.custom-icons .button:first-of-type a::before,
.cd-pagination.custom-icons .button:last-of-type a::after {
  content: '';
  position: absolute;
  display: inline-block;
  /* set size for custom icons */
  width: 16px;
  height: 16px;
  top: 50%;
  /* set margin-top = icon height/2 */
  margin-top: -8px;
  background: transparent url("../img/cd-icon-arrow-1.svg") no-repeat center center;
}
.cd-pagination.custom-icons .button:first-of-type a::before {
  left: .8em;
}
.cd-pagination.custom-icons .button:last-of-type a::after {
  right: .8em;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

/* -------------------------------- 

custom buttons - replace prev and next buttons text with a custom icon 

-------------------------------- */
.cd-pagination.custom-buttons a, .cd-pagination.custom-buttons span {
  vertical-align: middle;
}
.cd-pagination.custom-buttons .button a {
  /* set custom width */
  width: 40px;
  /* image replacement */
  overflow: hidden;
  white-space: nowrap;
  text-indent: 100%;
  color: transparent;
  background-image: url("../img/cd-icon-arrow-2.svg");
  background-repeat: no-repeat;
  background-position: center center;
}
.cd-pagination.custom-buttons .button:last-of-type a {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.no-touch .cd-pagination.custom-buttons .button:last-of-type a:active {
  -webkit-transform: scale(0.9) rotate(180deg);
  -moz-transform: scale(0.9) rotate(180deg);
  -ms-transform: scale(0.9) rotate(180deg);
  -o-transform: scale(0.9) rotate(180deg);
  transform: scale(0.9) rotate(180deg);
}

.cd-pagination.no-space.custom-buttons .button:last-of-type a {
  border-radius: 0.25em 0 0 0.25em;
}

/* -------------------------------- 

animated buttons - animate the text inside prev and next buttons 

-------------------------------- */
.cd-pagination.animated-buttons a, .cd-pagination.animated-buttons span {
  padding: 0 1.4em;
  height: 50px;
  line-height: 50px;
  overflow: hidden;
}
.cd-pagination.animated-buttons .button a {
  position: relative;
  padding: 0 2em;
}
.cd-pagination.animated-buttons .button:first-of-type a::before,
.cd-pagination.animated-buttons .button:last-of-type a::after {
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  right: auto;
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
}
.cd-pagination.animated-buttons .button:last-of-type a::after {
  -webkit-transform: translateX(-50%) rotate(180deg);
  -moz-transform: translateX(-50%) rotate(180deg);
  -ms-transform: translateX(-50%) rotate(180deg);
  -o-transform: translateX(-50%) rotate(180deg);
  transform: translateX(-50%) rotate(180deg);
}
.cd-pagination.animated-buttons i {
  display: block;
  height: 100%;
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -o-transform: translateY(100%);
  transform: translateY(100%);
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
}

.no-touch .cd-pagination.animated-buttons .button a:hover i {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}

.no-touch .cd-pagination.animated-buttons .button:first-of-type a:hover::before {
  -webkit-transform: translateX(-50%) translateY(-50px);
  -moz-transform: translateX(-50%) translateY(-50px);
  -ms-transform: translateX(-50%) translateY(-50px);
  -o-transform: translateX(-50%) translateY(-50px);
  transform: translateX(-50%) translateY(-50px);
}

.no-touch .cd-pagination.animated-buttons .button:last-of-type a:hover::after {
  -webkit-transform: translateX(-50%) rotate(180deg) translateY(50px);
  -moz-transform: translateX(-50%) rotate(180deg) translateY(50px);
  -ms-transform: translateX(-50%) rotate(180deg) translateY(50px);
  -o-transform: translateX(-50%) rotate(180deg) translateY(50px);
  transform: translateX(-50%) rotate(180deg) translateY(50px);
}

.Rounded_Rectangle_12 {
  border-style: solid;
  border-width: 8px;
  border-color: rgb( 255, 255, 255 );
  border-radius: 10px;
  background-color: rgb( 205, 238, 251 );
  box-shadow: 0 0 3px 0px rgb( 0, 1, 1 );
  width: 100%;
  min-height: 102px; margin:10px 0 0 0;}
  
  .Rounded_Rectangle_12 a{color:#000;}
 
.Rounded_Rectangle_12 h3 {
  font-size: 14px;
  font-family: "Ubuntu"; font-style:normal;
  color: rgb( 0, 0, 0 );
  text-align: left; display:block;
 
}
.color1{ color:#FF4500;}
.Rounded_Rectangle_12 div{ margin-left:0 !important;}
.Rounded_Rectangle_12 aside{ background:#AAD8EA; border-top:5px solid #00A2DF; border-radius:0 10px 10px 0; display:block; overflow:hidden; width:100%;}
.Rounded_Rectangle_12 aside img{ padding-left:35%; margin-top:1.9%;}
.Rounded_Rectangle_12 .span9{padding-left:20px;}

.lfttxt{float:left; display:block;font:normal 22px BEBAS__; color:#000; margin:0 10px 7px 0;} 
.rtline{ background:#124c9d; height:5px; border:none; margin:13px 0 0px 0; vertical-align:middle; display:block;}

.main-content p.heading, footer p.heading{font-size: 20px;
  font-family: "Ubuntu";
  color: rgb( 0, 166, 228 );
  font-style: italic;
  text-align: left; float:left; display:block; margin:0 10px 0px 0; }
.rtliner{background:url(../images/linepattern.jpg) repeat-x; display:block;  min-height:10px;  padding:0; border:none; margin:8px 0 0px 0; vertical-align:middle; clear: right;}
footer p.heading{ color:#000; margin-bottom:10px;}
footer .rtliner{background:url(../images/patern1.png) repeat-x !important; min-height:10px; display:block; clear:right;}

ul.vilists{ margin-right:10px; list-style:none; margin-left:0;}
ul.vilists li{float:left; margin-right:10px; }

.img1{ background:#fff; padding:5px; border:1px solid #d4d4d4;}
ul.list-news dd{ font: italic 11px Georgia; color:#707070; margin:5px 0 5px 0;}
.footbotom{ width:100%; background:#16828A; min-height:46px; display:block; color:#fff; margin-bottom:0;}
.footbotom p{ margin-bottom:0; padding-top:4px;}
.footbotom .span6{margin-left:0 !important;}
footer address{clear:left;}



.left-form,.right-form{
	float:left;
	margin:22px 28px;
	width:40%;
}
.left-form input[type=text],.left-form input[type=email],.left-form input[type=password] {
	float:left;
	font-family: 'Open Sans', sans-serif;
	width:80%;
	padding: 0.7em 2em 0.7em 1em;
	border:none;
	color: #000;
	font-size:15px;
	float: left;
	outline: none; background:none;
}
.right-form input[type=text], .right-form input[type=password]{ background:none; border:none;}
.left-form input:focus, .right-form input:focus{ display:block; overflow:hidden; border:none !important; box-shadow:none !important;}
.right-form{
	float:right;
}
form{
	padding-bottom: 2em;
}
.right-form li{
	display:block;
	color:#4D4949;
	border:1px solid #EBEBEB;
	border-radius: 0.3em;
	-webkit-border-radius:0.3em;
  	-moz-border-radius:0.3em;
 	 -o-border-radius:0.3em;
 	 margin-bottom: 10px;
}
.right-form input[type=text], input[type=password] {
	font-family: 'Open Sans', sans-serif;
	width:90%;
	padding: 0.7em 1em 0.7em 1em;
	color:#000;
	font-size: 15px;
	border:none;
  	outline:none;

}
.left-form li{
	display:block;
	color:#4D4949;
	border:1px solid #EBEBEB;
	border-radius: 0.3em;
	-webkit-border-radius:0.3em;
  	-moz-border-radius:0.3em;
 	 -o-border-radius:0.3em;
 	 margin-bottom: 10px; overflow:hidden;
}
.icon
{
	height:28px;
	width:28px;
	background:url(../images/spirit.png)  no-repeat;
	display: block;
	float: right;
	margin: 7px 9px 9px 0px;
}
.ticker{
	background:url(../images/spirit.png)  no-repeat 0px 0px;
}
.into{
	background:url(../images/spirit.png)  no-repeat -31px 0px;
}

.left-form submit{
	float:left;
}
.right-form submit{
	float:right;
}
.main h4{
	
	font-size:13px;
	font-weight: 600;
	color:#363535;
}
.left-form input[type=submit]{
  padding:10px 19px;
  border-radius:0.3em;
 -webkit-border-radius:0.3em;
  -moz-border-radius:0.3em;
  -o-border-radius:0.3em;
   color:#4D4949;
  background:#F3F3F3;
  border:1px solid #EBEBEB;
  font-weight:bold;
  font-size:15px;
  outline:none;
  transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  margin-top:15px;
  cursor: pointer;
}
.right-form input[type=submit]{
  float:left;
  padding:8px 19px;
  border-radius:0.3em;
  border:none;
  outline:none;
  -webkit-border-radius:0.3em;
  -moz-border-radius:0.3em;
  -o-border-radius:0.3em;
  font-weight:bold;
  font-size:15px;
  transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  margin: 2em 0em;
  cursor: pointer;
}
 input[type=submit]:hover {
 background:#2E2D2D;
 color:#fff; 

}


.main p{
	text-align: center;
	font-size:15px;
	font-weight:600;
	color:#383737;
	padding: 20px 30px;
	border-bottom: 1px solid #E7E0E0;
	margin-top: -13px;
}
.main h2,.main h3{
	text-align:left;
	font-size:17px;
	font-weight:600;
	margin:15px 3px;
	color:#3F3D3D;
}

.left-form > label {
	font-size:13px;
	float:left;
	vertical-align: super;
	margin-left:10px;
	color:#4C4A4A;
	margin-top:2px;
	font-weight: 600;
}



.indent-small {
  margin-left: 5px;
}
.form-group.internal {
  margin-bottom: 0;
}
.dialog-panel {
  margin: 10px;
}
.datepicker-dropdown {
  z-index: 200 !important;
}
.panel-body {
  background: #e5e5e5;
  /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, #e5e5e5 0%, #ffffff 100%);
  /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #e5e5e5), color-stop(100%, #ffffff));
  /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, #e5e5e5 0%, #ffffff 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover, #e5e5e5 0%, #ffffff 100%);
  /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover, #e5e5e5 0%, #ffffff 100%);
  /* IE10+ */
  background: radial-gradient(ellipse at center, #e5e5e5 0%, #ffffff 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e5e5e5', endColorstr='#ffffff', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  font: 600 15px "Open Sans", Arial, sans-serif;
}
label.control-label {
  font-weight: 600;
  color: #777;
}

.panel-heading{ display:block; background:#00AEEF; border-radius:10px 10px 0 0; padding:2px 0 2px 10px;}
.panel-heading h5{ color:#fff;}
.form-group{ overflow:hidden; display:block; margin:0 0 20px 0;}
.form-horizontal{ overflow:hidden; display:block; width:50%; margin:auto; margin-top:10px;}
.form-horizontal .control-label{margin:0 20px 0 0; text-align:left; width:180px;}
.control-label-sm{ width:auto !important; margin-left:10px !important;}
.form-control{ width:50%;}
.form-horizontal h4{ font: normal 14px Arial; color:#000; margin:10px 0 10px 0; display:block; padding:0; text-transform:none;}

.table-striped{ font-weight:normal; font-size:12px;}

form.loginform {
	background:#0A192A;
	border-radius:0.4em;
  	border:1px solid #0A192A;
  	overflow:hidden;
  	position:relative; width:33%; margin:auto; margin-top:20px;
  	box-shadow: 0 5px 10px 5px rgba(0,0,0,0.2);
}

form.loginform:after {
  content:"";
  display:block;
  position:absolute;
  height:1px;
  width:100px;
  left:20%;
  top:0;
}

form.loginform:before {
 	content:"";
  display:block;
  position:absolute;
  width:8px;
  height:5px;
  border-radius:50%;
  left:34%;
  top:-7px;
  box-shadow: 0 0 6px 4px #fff;
}

.inset {
 padding:20px; 
  border-top:1px solid #000;
}

form.loginform h1{
  text-align:center;
  padding:18px 0;
  border-bottom:1px solid #000;
  position:relative;
}
form.loginform h1:after {
 content:"";
  display:block;
  width:250px;
  height:100px;
  position:absolute;
  top:0;
  left:50px;
  pointer-events:none;
 -webkit-transform: rotate(70deg);
 background: linear-gradient(50deg, rgba(255,255,255,0.15), rgba(0,0,0,0));
  
}

form.loginform h1  {
	color:#fff;
	text-shadow:0 1px 0 #000;
	font-size:18px;
	font-weight: 600;
	text-align:center;
  padding:18px 0;
  border-bottom:1px solid #000;
  position:relative;
	
}
form.loginform h1 span{
	padding:5px;
	background:#24D7E7;
}
form.loginform label {
 	color:rgba(137, 192, 243, 0.8);
  	display:block;
  	font-size:13px;
  	padding-bottom:9px;
}

form.loginform input[type=text],
input[type=password] {
  font-family: 'Open Sans', sans-serif;
  width:100%;
  padding:8px 5px;
  background: rgb(167,167,167); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(167,167,167,1) 0%, rgba(181,181,181,1) 21%, rgba(228,228,228,1) 79%, rgba(242,242,242,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(167,167,167,1)), color-stop(21%,rgba(181,181,181,1)), color-stop(79%,rgba(228,228,228,1)), color-stop(100%,rgba(242,242,242,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(167,167,167,1) 0%,rgba(181,181,181,1) 21%,rgba(228,228,228,1) 79%,rgba(242,242,242,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(167,167,167,1) 0%,rgba(181,181,181,1) 21%,rgba(228,228,228,1) 79%,rgba(242,242,242,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(167,167,167,1) 0%,rgba(181,181,181,1) 21%,rgba(228,228,228,1) 79%,rgba(242,242,242,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(167,167,167,1) 0%,rgba(181,181,181,1) 21%,rgba(228,228,228,1) 79%,rgba(242,242,242,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7a7a7', endColorstr='#f2f2f2',GradientType=0 ); /* IE6-9 */
  border:1px solid #222;
  box-shadow:0 1px 0 rgba(255,255,255,0.1);
  border-radius:0.3em;
  margin-bottom:20px;
  color: #000;
  font-size:15px;
  outline: none;
}
form.loginform label[for=remember]{
 	color:#fff;
  	display:inline-block;
  	font-size: 13px;
}

form.loginform input[type=checkbox] {
 	display:inline-block;
  	vertical-align:middle;
}

form.loginform .p-container {
 	padding:0 20px 20px 20px; 
}

form.loginform .p-container:after {
 	clear:both;
  display:table;
  content:"";
}

form.loginform .p-container span a {
  font-size:14px;
  display:block;
  float:left;
  color:#0d93ff;
  padding-top: 4px;
}

form.loginform input[type=submit] {
 	padding:5px 20px;
  border:1px solid #517cd4;
  text-shadow:0 -1px 0 rgba(0,0,0,0.4);
  box-shadow:
    inset 0 1px 0 rgba(255,255,255,0.3),
    inset 0 10px 10px rgba(255,255,255,0.1);
  border-radius:0.3em;
  background: #87e0fd; /* Old browsers */
background: -moz-linear-gradient(top, #87e0fd 0%, #53cbf1 40%, #05abe0 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#87e0fd), color-stop(40%,#53cbf1), color-stop(100%,#05abe0)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #87e0fd 0%,#53cbf1 40%,#05abe0 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #87e0fd 0%,#53cbf1 40%,#05abe0 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #87e0fd 0%,#53cbf1 40%,#05abe0 100%); /* IE10+ */
background: linear-gradient(to bottom, #87e0fd 0%,#53cbf1 40%,#05abe0 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87e0fd', endColorstr='#05abe0',GradientType=0 ); /* IE6-9 */
 color:#fff;
  float:right;
  font-weight:bold;
  cursor:pointer;
  font-size:15px;
  outline: none;
}

form.loginform input[type=submit]:hover {
  box-shadow:
    inset 0 1px 0 rgba(255,255,255,0.3),
    inset 0 -10px 10px rgba(255,255,255,0.1);
    background: #05abe0; /* Old browsers */
background: -moz-linear-gradient(top, #05abe0 0%, #53cbf1 60%, #87e0fd 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#05abe0), color-stop(60%,#53cbf1), color-stop(100%,#87e0fd)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #05abe0 0%,#53cbf1 60%,#87e0fd 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #05abe0 0%,#53cbf1 60%,#87e0fd 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #05abe0 0%,#53cbf1 60%,#87e0fd 100%); /* IE10+ */
background: linear-gradient(to bottom, #05abe0 0%,#53cbf1 60%,#87e0fd 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#05abe0', endColorstr='#87e0fd',GradientType=0 ); /* IE6-9 */

}
form.loginform p{ margin:0; padding:0 0 0px 0;}
form.loginform label{margin:8px 0 0 0;}
.left-10{ margin-left:10px;}


/*register form*/

form.register header {
  margin: 0 0 20px 0; 
}
form header div {
  font-size: 90%;
  color: #999;
}
form.register header h2 {
  margin: 0 0 5px 0;
}
form.register > div {
  
  overflow: hidden; 
  padding: 1px;
  margin: 0 0 10px 0;
}
form.register > div > div{ }
form.register > div > fieldset > div > div {
  margin: 0 0 5px 0; float:left;
}
form.register > div > label,
legend {
	width: 25%;
  float: left;
  padding-right: 10px; font:normal 13px Arial; border:none;
}
form.register > div > div,
form.register > div > fieldset > div {
  width: 74%;
  float: right;
}
form > div > fieldset label {
	font-size: 90%;
}
fieldset {
	border: 0;
  padding: 0;
}

input[type=text],
input[type=email],
input[type=url],
input[type=password],
textarea {
	width: 100%;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee; background:none;
}
input[type=text],
input[type=email],
input[type=url],
input[type=password] {
  width: 50%;
}
input[type=text]:focus,
input[type=email]:focus,
input[type=url]:focus,
input[type=password]:focus,
textarea:focus {
  outline: 0;
  border-color: #4697e4;
}

@media (max-width: 600px) {
  form > div {
    margin: 0 0 15px 0; 
  }
  form > div > label,
  legend {
	  width: 100%;
    float: none;
    margin: 0 0 5px 0;
  }
  form > div > div,
  form > div > fieldset > div {
    width: 100%;
    float: none;
  }
  input[type=text],
  input[type=email],
  input[type=url],
  input[type=password],
  textarea,
  select {
    width: 100%; 
  }
}
@media (min-width: 1200px) {
  form > div > label,
	legend {
  	text-align: right;
  }
}

form{ padding-bottom:0 !important;}
form.form-horizontal input,textarea{ background:#fff;}
.paylists{ list-style:none; margin:0;}
.paylists li{list-style:none; float:left; margin-right:5px;}
.paylists li.span1{ margin-left:0;}
.paylists li img{ width:150px; height:40px;}
table.links a, table.links2 a { color:#06F; font-size:14px;}
table.links{ width:190px !important; float:left; margin:0;}
table.links2{ width:280px !important; float:left; margin:0;}